polygon-api-client
pymongo
certifi
alpaca-py
yfinance
scipy
pandas
cython
fastapi
uvicorn
motor
python-dotenv
stats
PyWavelets
ripser
datetime
TA-Lib
pandas-ta
ta-lib
# ta-lib-python #pip install TA-Lib wrong name?